<tr sid="<%= book.id %>" guid="<%= book.guid %>">
  <td><%= h book.name %></td>
  <td><%= h book.author %></td>
  <td>
    <a href='#' class='download'>下载</a>
    <a href='#' class='delete'>删除</a>
    <a href='#' class='share'><%= book.share? ? "取消共享" : "共享" %></a>
  </td>
</tr>